@model UserRoleVm

@{
    ViewData["Title"] = "Edit Users In Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Users In Role</h1>
<div class="card">
    <div class="card-header">
        User Name : @Model.UserName
    </div>
    <div class="card-body">
        @foreach(var user in Model.RoleName)
    </div>
    <div class="card-footer">

    </div>
</div>
